.game_box0{
	background-color: #663300;
}

.game_box2{
	background-color: #919991;
	color: #ffffff;
}

.game_box4{
	background-color: #E0657C;
	color: #ffffff;
}

.game_box8{
	background-color: #9D7967;
	color: #ffffff;
}

.game_box16{
	background-color: #44A08B;
	color: #ffffff;
}

.game_box32{
	background-color: #328888;
	color: #ffffff;
}

.game_box64{
	background-color: #6C445B;
	color: #ffffff;
}

.game_box128{
	background-color: #996600;
	color: #ffffff;
}

.game_box256{
	background-color: #660033;
	color: #ffffff;
}

.game_box512{
	background-color: #FF5050;
	color: #ffffff;
}

.game_box1024{
	background-color: #3399FF;
	color: #ffffff;
}

.game_box2048{
	background-color: #FFCC99;
	color: #ffffff;
}